<app-top-bar></app-top-bar>
<app-breadcrumb></app-breadcrumb>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="card" >
      <div class="card-body px-5">
        <div class="row ">
          <div class="col-2">Usuario</div>
          <div class="col-3">Dispositivo</div>
          <div class="col-1">Disco</div>
          <div class="col-2">Eliminados</div>
          <div class="col-2">Fecha</div>
          <div class="col-1">Tamano</div>
        </div>

        <div class="row border-top" *ngFor="let recovery of recoveries">
          <div class="col-2 text-truncate">{{recovery.user}}</div>
          <div class="col-3 text-truncate">{{recovery.machine}}</div>
          <div class="col-1">{{recovery.disk}}</div>
          <div class="col-2">{{recovery.deleted}}</div>
          <div class="col-2">{{recovery.date}}</div>
          <div class="col-1">{{recovery.size}}</div>
          <div class="col-1">
            <i class="material-icons md-24 md-dark px-2">delete</i>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row d-flex justify-content-between">
            <app-go-back></app-go-back>
            <app-recovery-form></app-recovery-form>
            <a class="btn btn-primary" [routerLink]="['/request/summary']">Continuar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
