<app-top-bar></app-top-bar>
<app-breadcrumb></app-breadcrumb>
<div class="row pt-5 justify-content-center">
  <div class="col-11">
    <div class="card" >
      <div class="card-body px-5">
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

          <div class="row ">
            <label class="col-3">Contacto de recepcion</label>
            <div class="col">
              <input type="text" class="form-control" formControlName="nombreRecepcion" placeholder="completo de contacto" required>
            </div>
          </div>

          <div class="row ">
            <label class="col-3">Telefono de contacto</label>
            <div class="col">
              <input type="tel" class="form-control" formControlName="fono" placeholder="+56 9 1234 5678" required>
            </div>
          </div>
          <hr>

          <div class="row ">
            <div class="col"> Direccion de envio </div>
          </div>
          <div class="row ">
            <label class="col-3">Ciudad</label>
            <div class="col">
              <input type="text" class="form-control" formControlName="ciudad" placeholder="" required>
            </div>
            <label class="col-3">Comuna</label>
            <div class="col">
              <input type="text" class="form-control" formControlName="comuna" placeholder="" required>
            </div>
          </div>
          <div class="row ">
            <label class="col-3">Direccion</label>
            <div class="col">
              <input type="text" class="form-control" formControlName="direccion" placeholder="" required>
            </div>
          </div>
          <hr>

          <div class="row ">
            <label class="col-3">Horario de recepcion</label>
            <label class="col-1">Desde:</label>
            <div class="col-2">
              <input type="time" class="form-control" formControlName="horarioDesde" required>
            </div>
            <label class="col-1 col-form-label">Hasta:</label>
            <div class="col-2">
              <input type="time" class="form-control" formControlName="horarioHasta" required>
            </div>
          </div>

          <div class="row d-flex justify-content-between">
            <app-go-back></app-go-back>
            <button class="btn btn-primary" type="submit">Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
