
<div class="row ">
  <div class="col-10 offset-1 d-flex justify-content-between">
    <button class="btn btn-primary" type="button" (click)="getRequests()">Obtener Solicitudes</button>
    <button class="btn btn-primary" type="button" (click)="getRecoveries()">Obtener Recuperaciones</button>
    </div>
</div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="card" >
      <div class="card-body px-5">
        <div class="row ">
          <div class="col">Id de recuperacion</div>
          <div class="col">equipo</div>
          <div class="col">disco</div>
          <div class="col">fecha de respaldo</div>
        </div>

        <div class="row border-top" *ngFor="let recovery of recoveries">
          <div class="col">{{recovery.recuperacionId}}</div>
          <div class="col">{{recovery.equipo}}</div>
          <div class="col">{{recovery.unidad}}{{this.foo}}</div>
          <div class="col">
            <span>{{recovery.fechaRespaldo}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="card" >
      <div class="card-body px-5">
        <div class="row ">
          <div class="col">Nombre contacto</div>
          <div class="col">Telefono contacto</div>
          <div class="col">Direccion</div>
          <div class="col">Horario</div>
        </div>

        <div class="row border-top" *ngFor="let request of requests">
          <div class="col">{{request.nombreRecepcion}}</div>
          <div class="col">{{request.fono}}</div>
          <div class="col">{{request.ciudad}}, {{request.comuna}}, {{request.direccion}}</div>
          <div class="col">
            <span>{{request.horarioDesde}} / {{request.horarioHasta}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
