<div class="container-fluid row justify-content-center">
  <div class="container list-group list-group-horizontal ">
    <a routerLink="/request/base" class="icon-pair justify-content-center" [ngClass]="progressFormat[0]">
      <i class="material-icons md-24 px-2" [ngClass]="icon[0]">assignment</i>
      <span>Informacion de envio</span>
    </a>
    <a routerLink="/request/list" class="icon-pair justify-content-center" [ngClass]="progressFormat[1]">
      <i class="material-icons md-24 px-2" [ngClass]="icon[1]">cloud_download</i>
      <span>Informacion de envio</span>
    </a>
    <a  class="icon-pair justify-content-center" [ngClass]="progressFormat[2]">
      <i class="material-icons md-24 px-2" [ngClass]="icon[2]">local_shipping</i>
      <span>Informacion de envio</span>
    </a>
  </div>
</div>
