<div class="row bg-grey align-items-center justify-content-start header px-3">
  <div class="col-1">
    <img src="../../assets/logo_cloner.png" alt="Cloner_logo" class="pagelogo">
  </div>
  <div class="col">
    <div class="col-3 icon-pair">
      <i class="material-icons md-36 md-light ">save_alt</i>
      <a [routerLink]="['/dashboard']" class="light">
        Recuperaciones
      </a>
    </div>
  </div>
  <div class="offset-7 col-1">
      <i class="material-icons md-36 md-light clickable" (click)="logout()">exit_to_app</i>
  </div>
</div>
